
<header>
    <!-- navbar  -->
  <nav id="navbar" class="navbar sticky-top navbar-expand-sm ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <div id="navbarBranding" class="row">
          <img src="/images/logo_devagiri.svg" alt="" style="width: 5rem;">
          <div class="col p-0">
            <h4 class="mb-0 ml-5">Admin page</h4>
            <p class="h6 mb-0">powered by <span>BCA<sup>21-24</sup></span></p>
          </div>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="true"
        data-bs-target="#navbarMenu">
        <img src="/images/Group 23.svg" alt="">
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarMenu">
        <ul id="navLinks" class="navbar-nav">
          <li class="nav-item col-xl-4">
            <a class="nav-link" href="/">preview</a>
          </li>
        </ul>
      </div>
  </nav>

</header>